<form action="/new_user" method="post">
  <dl>
    <dt>
      <label for="new_slander">What would you like your username to be?</label>
    </dt>
    <dd>
      <input name="username" placeholder="New Username" type="text" value=''>
    </dd>
  </dl>
</form>
