<form action="/profile/<%=@username%>" method="post">
  <dl>
    <dt>
      <label for="new_slander">Enter Slander Here:</label>
    </dt>
    <dd>
      <input name="new_slander" placeholder="New Slander" type="text" value="">
    </dd>
  </dl>
</form>
