<!doctype html>
<html lang="en-US">
  <head>
    <title>Slander</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/whitespace-reset.css">
    <link rel="stylesheet" href="/stylesheets/application.css">
    <script src="/javascripts/jquery-2.1.4.js"></script>
    <script src="/javascripts/application.js"></script>
  </head>
  <body>
    <header>
      <h1 id="site_name">SLANDER</h1>
      <div class="actions">
        <%== yield_content :header_links %>
      </div>
    </header>

    <main>
      <%== yield %>
    </main>
  </body>
</html>
