<form action="/profile/login" method="post">
  <dl>
    <dt>
      <label for="username">Enter Username:</label>
    </dt>
    <dd>
      <input name="username" placeholder="Username" type="text" value="">
    </dd>
  </dl>
</form>
