<header>
  <h2 class="headline">Timeline</h2>
</header>

<% if logged_in? %>
  <nav class="login_status"><a href="/profile/signout">Sign Out</a></nav>
<% else %>
  <nav class="login_status"><a href="/profile/login">Login</a></nav>
<% end %>

<nav class="new"><a href="/new_slander/<%=@username%>">New Slander</a></nav>

<ul>
  <% sort_slanders(@slanders) do |slander| %>
    <li class="single_slander">
      <a>
        <h2 class="username"><%= slander["username"] %></h2>
        <h3 class="paragraph"><%= slander["paragraph"] %></h3>
        <p class="slander_date">
          <%= slander["date_created"] %>
        </p>
      </a>
    </li>
  <% end %>
</ul>

