<form method="post" action="/date_or_not">
  <div>
    <label for="y_or_n">Was this payment today?</label>
    <input name="y_or_n" placeholder="y/n" type="text" value="">
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
</form>