<form method="post" action="/new_today">
  <div>
    <label for="new_amount">Enter payment amount: $</label>
    <input name="new_amount" placeholder="00.00" type="text" value="">
  </div>
  <div>
    <label for="new_category">What was if for?</label>
    <input name="new_category" placeholder="Gas, Restaurant, Groceries, Rent, Insurance, Car Loan, etc..." type="text" value="">
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
</form>