<form method="post" action="/new_with_date">
  <div>
    <label for="new_amount">Enter payment amount: $</label>
    <input name="new_amount" placeholder="00.00" type="text" value="">
  </div>
  <div>
    <label for="new_category">Enter category:</label>
    <input name="new_category" placeholder="Gas, Restaurant, Groceries, Rent, Insurance, Car Loan, etc..." type="text" value="">
  </div>
    <div>
    <label for="new_date">Enter date:</label>
    <input name="new_date" placeholder="MM-DD-YYYY" type="text" value="">
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
</form>