<form method="post" action="/sort">
  <div>
    <label for="month">What month? </label>
    <input name="month" placeholder="MM" type="text" value="">
  </div>
  <div>
    <label for="year">What year?</label>
    <input name="year" placeholder="YYYY" type="text" value="">
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
</form>